* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, Times, serif;
  font-size: 30px;
  background: #eee;
  color: #888;
}

h1 {
  color: #555;
  font-size: 100px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: lowercase;
}

p {
  margin-top: 10px;
  text-align: center;
}

a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

#aboutme {
  margin-top: 40px;
  text-align: center;
}

#bio {
  font-style: italic;
  margin-right: 10px;
}

#avatar {
  position: fixed;
  left: 0;
  bottom: 0;
}

#avatar:hover {
  opacity: 0.9;
}

#avatar, #twitter_update_list {
  z-index: -10;
}

#twitter_update_list {
  position: fixed;
  left: 170px;
  bottom: 10px;
  font-size: 15px;
  padding: 10px;
}

#twitter_update_list li {
  list-style: none;
}
