<!DOCTYPE html>
<html>
  <head>
    <title>Chris Hunt - Software Engineer</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="twitter:site" content="@chrishunt">

    <meta name='viewport'
          content='user-scalable=yes,
                   width=device-width,
                   initial-scale=1' >

    <link href="../../../../normalize.css" rel="stylesheet" type="text/css" />
    <link href="../../../../webfonts/ss-social-circle.css" rel="stylesheet" />
    <link href="../../../../style.css" rel="stylesheet" type="text/css" />

    {% include gosquared_analytics.html %}
  </head>
  <body>
    <div id='container' class='cfp'>
      {{ content }}

      <a href="/" class="back">&larr;</a>
    </div>

    {% include google_analytics.html %}
  </body>
</html>
