<!DOCTYPE html>
<html>
  <head>
    <title>Chris Hunt - Software Engineer</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta name="viewport" content="initial-scale=0.5" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400'
      rel='stylesheet' type='text/css'>
    <link href="../../../../webfonts/ss-social-circle.css" rel="stylesheet" />
    <link href="../../../../style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25283496-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body>
    <div id="social">
      <a id="avatar"
         title="@chrishunt"
         href="/">
         <img src="../../../../avatar.jpg" alt="chris hunt" />
      </a>
      <a target='_blank'
        title="twitter"
        href="http://twitter.com/chrishunt"
        class="ss-icon ss-social-circle">
        twitter
      </a>
      <a target='_blank'
        title="github"
        href="https://github.com/chrishunt"
        class="ss-icon ss-social-circle">
        githuboctocat
      </a>
      <a title="talks"
        href="/talks"
        class="ss-icon ss-social-circle">
        readmill
      </a>
      <a target='_blank'
        title="tumblr"
        href="http://blog.chrishuntphoto.com"
        class="ss-icon ss-social-circle">
        tumblr
      </a>
      <a target='_blank'
        title="photos"
        href="http://chrishuntphoto.com"
        class="ss-icon ss-social-circle">
        instagram
      </a>
      <a target='_blank'
        title="linkedin"
        href="http://www.linkedin.com/in/huntchris"
        class="ss-icon ss-social-circle">
        linkedin
      </a>
      <a target='_blank'
        title="email"
        href="mailto:c@chrishunt.co"
        class="ss-icon ss-social-circle">
        email
      </a>
    </div>

    <div id='container'>
      {{ content }}
    </div>
  </body>
</html>
