<!DOCTYPE html>
<html>
  <head>
    <title>Chris Hunt - Software Engineer</title>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>

    <meta name='viewport'
          content='user-scalable=yes,
                   width=device-width,
                   initial-scale=1' >

    <link href="../../../../normalize.css" rel="stylesheet" type="text/css" />
    <link href="../../../../webfonts/ss-social-circle.css" rel="stylesheet" />
    <link href="../../../../style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="navigation">
      <a id="avatar"
         title="@chrishunt"
         href="/">
         <img src="http://www.gravatar.com/avatar/c8fb28f724e6d504f96dfddda064ada2.png?s=200" alt="chris hunt" />
      </a>
      <a id="blog"
         title="blog"
         href="http://b.chrishunt.co">
         <img src="/blog.png" alt="b.chrishunt.co" />
      </a>
      <a title="twitter"
         href="http://twitter.com/chrishunt"
         class="ss-icon ss-social-circle">
         twitter
      </a>
      <a title="github"
         href="https://github.com/chrishunt"
         class="ss-icon ss-social-circle">
         githuboctocat
      </a>
      <a title="talks"
         href="/talks"
         id="talks"
         class="ss-icon ss-social-circle">
         readmill
      </a>
      <a title="photos"
         href="http://instagram.com/huntca"
         class="ss-icon ss-social-circle">
         instagram
      </a>
      <a title="email"
         href="mailto:c@chrishunt.co"
         class="ss-icon ss-social-circle">
         email
      </a>
    </div>

    <div id='container'>
      {{ content }}
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25283496-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </body>
</html>
