* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 95%;
  background: #111;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  padding: 0;
  margin: 30px;
  font-size: 300%;
  color: #fff;
  text-align: center;
}

h2 {
  padding: 0;
  margin: 10px;
  font-size: 150%;
  text-align: center;
}

h2, h2 a {
  color: #333;
}

#container {
  width: 900px;
  margin: 0 auto 20px auto;
}

#coderwall {
  width: 810px;
  margin: 0 auto;
}
